html, body {
	height: 100%;
	width: 100%;
	background: #F6F7F9;
}

html {
	display: table;
}

body {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
* {
	margin: 0;
	padding: 0;
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 15px;
	font-weight: 300;
}

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

ul li {
	list-style: none;
	position: relative;
	margin-bottom: 8px;
	transition: all 300ms cubic-bezier(0.290, 0.435, 0.295, 1.000);
}

ul li.invisible {
	max-height: 0px;
	margin: 0;
	padding: 0;
	opacity: 0;
}

ul li.visible {
	max-height: 64px;
	opacity: 1;
}

form {
	max-width: 350px;
	width: 100%;
	display: inline-block;
}

ul li label {
	position: absolute;
	left: 20px;
	top: 50%;
	transform-origin: top left;
	transform: translateY(-50%);
	pointer-events: none;
	opacity: 0.5;
	transition: all 300ms cubic-bezier(0.290, 0.435, 0.295, 1.000);
}

ul li.focused label {
	transform: translateY(-115%) scale(0.8);
	font-weight: 350;

}

ul li svg {
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.5;
	pointer-events: none;
	transition: all 300ms cubic-bezier(0.290, 0.435, 0.295, 1.000);
}

input, select {
	width: 100%;
	height: 64px;
	padding: 16px 0 0 20px;
	background: #fff;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #000;
	text-align: left;
	-webkit-appearance: none;
	transition: border 400ms, box-shadow 400ms;
	border-radius: 16px;
}

select {
	cursor: pointer;
}

input:hover, select:hover {
	border-color: rgba(0, 0, 0, 0.2);
}

ul li:hover svg {
	opacity: 1;
}

input:focus, select:focus {
	border-color: rgba(0, 0, 0, 0.4);
}

button {
	display: block;
	width: 100%;
	padding: 25px 30px;
	color: #fff;
	background: #203CF5;
	border: 0;
	cursor: pointer;
	margin-top: 15px;
	transition: all 300ms cubic-bezier(0.290, 0.435, 0.295, 1.000);
	border-radius: 16px;
	font-weight: 350;
}

button:hover {
	transform: scale(1.05);
}

img.logo {
	display: inline-block;
	margin-bottom: 50px !important;
}

.animated {
	opacity: 0;
	-webkit-animation: intro-bottom 1s cubic-bezier(0.1,0.7,0.4,1) both;
	   -moz-animation: intro-bottom 1s cubic-bezier(0.1,0.7,0.4,1) both;
	   	-ms-animation: intro-bottom 1s cubic-bezier(0.1,0.7,0.4,1) both;
	     -o-animation: intro-bottom 1s cubic-bezier(0.1,0.7,0.4,1) both;
	        animation: intro-bottom 1s cubic-bezier(0.1,0.7,0.4,1) both;
}

@-webkit-keyframes intro-bottom {
	0% { opacity: 0; -webkit-transform: translate3d(0, 50px, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}
@-moz-keyframes intro-bottom {
	0% { opacity: 0; -moz-transform: translate3d(0, 50px, 0); }
	100% { opacity: 1; -moz-transform: translate3d(0, 0, 0); }
}
@-ms-keyframes intro-bottom {
	0% { opacity: 0; -ms-transform: translate3d(0, 50px, 0); }
	100% { opacity: 1; -ms-transform: translate3d(0, 0, 0); }
}
@-o-keyframes intro-bottom {
	0% { opacity: 0; -o-transform: translate3d(0, 50px, 0); }
	100% { opacity: 1; -o-transform: translate3d(0, 0, 0); }
}
@keyframes intro-bottom {
	0% { opacity: 0; transform: translate3d(0, 50px, 0); }
	100% { opacity: 1; transform: translate3d(0, 0, 0); }
}